{% extends "base.html" %}{% load static %}{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Untangle</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/css-stars.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>
              <div class="main-panel">
                  <div class="content-wrapper pb-0">
                      <div class="page-header flex-wrap">
                          <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
                              <div class="d-flex align-items-center">
                                  <a href="#">
                                      <p class="m-0 pr-3">Dashboard</p>
                                  </a>
                              </div>
                          </div>
                      </div>


                      <div class="row">
                          <div class="col-xl-4 grid-margin">
                              <div class="card stretch-card mb-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black">Course Suggestions </h4>
                                      </div>
                                      <h3 class="text-success font-weight-bold">5</h3>
                                  </div>
                              </div>
                              <div class="card stretch-card mb-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black">Articles Suggestions</h4>
                                      </div>
                                      <h3 class="text-success font-weight-bold">3</h3>
                                  </div>
                              </div>
                            </div>

                          <div class="col-xl-8 stretch-card grid-margin">
                              <div class="card">
                                  <div class="card-body pb-0">
                                      <h4 class="card-title mb-0">Seniors Contact</h4>
                                  </div>
                                  <div class="card-body p-0">
                                      <div class="table-responsive">
                                          <table class="table custom-table text-dark">
                                              <thead>
                                                  <tr>
                                                      <th>Name</th>
                                                      <th>Courses</th>
                                                      <th>Project</th>
                                                      <th>Collab Request</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face2.jpg' %} " class="mr-2" alt="image" /> Anurag Paul
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">4</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                                  <option value="4">Course-4</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">2</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Project-1</option>
                                                                  <option value="2">Project-2</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td><button>View Profile</button></td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face3.jpg' %}" class="mr-2" alt="image" /> Anas Khan
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">3</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">2</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Project-1</option>
                                                                  <option value="1">Project-2</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td><button>View Profile</button></td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face4.jpg' %}" class="mr-2" alt="image" /> Pranav Pramod
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">5</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                                  <option value="2">Course-4</option>
                                                                  <option value="3">Course-5</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>
                                                        <div class="d-flex">
                                                            <span class="pr-2 d-flex align-items-center">3</span>
                                                            <select id="star-1" name="rating" autocomplete="off">
                                                                <option value="1">Project-1</option>
                                                                <option value="1">Project-2</option>
                                                                <option value="1">Project-3</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td><button>View Profile</button></td>
                                                  </tr>
                                                  
                                              </tbody>
                                          </table>
                                      </div>
                                      <a class="text-black font-13 d-block pt-2 pb-2 pb-lg-0 font-weight-bold pl-4" href="#">Show more</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                   <!--


                      <div class="row">
                          <div class="col-xl-12 stretch-card grid-margin">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="d-flex justify-content-between flex-wrap">
                                          <div>
                                              <div class="card-title mb-0">Study Modes Analysis</div>
                                          </div>
                                          <div>
                                              <div class="d-flex flex-wrap pt-2 justify-content-between sales-header-right">
                                                  <div class="d-flex mr-5">
                                                      <button type="button" class="btn btn-social-icon btn-outline-sales">
                                                          <i class="mdi mdi-inbox-arrow-down"></i>
                                                      </button>
                                                      <div class="pl-2">
                                                          <h4 class="mb-0 font-weight-semibold head-count"> 4 </h4>
                                                          <span class="font-10 font-weight-semibold text-muted">Total Modes</span>
                                                      </div>
                                                  </div>
                                                  <div class="d-flex mr-3 mt-2 mt-sm-0">
                                                      <button type="button" class="btn btn-social-icon btn-outline-sales profit">
                                                          <i class="mdi mdi-cash text-info"></i>
                                                      </button>
                                                      <div class="pl-2">
                                                          <h4 class="mb-0 font-weight-semibold head-count"> Online </h4>
                                                          <span class="font-10 font-weight-semibold text-muted">Best Mode</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="d-flex justify-content-between flex-wrap">
                                          <img src="{% static 'images/graph.jpeg' %} " />
                                      </div>
                                      
                    <div class="flot-chart-wrapper">
                        <div id="flotChart" class="flot-chart">
                            <canvas class="flot-base"></canvas>
                        </div>
                    </div>
                   
                                  </div>
                              </div>
                          </div>
                      </div>
                      
        <div class="row">
          <div class="col-sm-6 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-title"> Study Buddy Network
                  </div>
                <div class="line-chart-wrapper">
                  <canvas id="linechart" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col-sm-6 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-title">Friend Circle </small>
                  </div>
                <div class="bar-chart-wrapper">
                  <canvas id="barchart" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  
             
    <div class="row">
        <div class="col-sm-12 stretch-card grid-margin">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title">Graph-1</div>
                                <div class="d-flex flex-wrap">
                                    <div class="doughnut-wrapper w-50">
                                        <canvas id="doughnutChart1" width="100" height="100"></canvas>
                                    </div>
                                    <div id="doughnut-chart-legend" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title">Graph-2</div>
                                <div class="d-flex flex-wrap">
                                    <div class="doughnut-wrapper w-50">
                                        <canvas id="doughnutChart2" width="100" height="100"></canvas>
                                    </div>
                                    <div id="doughnut-chart-legend2" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title">Graph-3</div>
                                <div class="d-flex flex-wrap">
                                    <div class="doughnut-wrapper w-50">
                                        <canvas id="doughnutChart3" width="100" height="100"></canvas>
                                    </div>
                                    <div id="doughnut-chart-legend3" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
         
                      <div class="row">
                          <div class="col-sm-6 col-xl-6 stretch-card grid-margin">
                              <div class="card">
                                  <div class="card-body">

                                      <div class="d-flex border-bottom mb-4 pb-2">
                                          <div class="hexagon">
                                              <div class="hex-mid hexagon-danger">
                                                  <i class="mdi mdi-account-outline"></i>
                                              </div>
                                          </div>
                                          <div class="pl-4">
                                              <h4 class="font-weight-bold text-danger mb-0">40</h4>
                                              <h6 class="text-muted">Data Science Students</h6>
                                          </div>
                                      </div>
                                      <div class="d-flex border-bottom mb-4 pb-2">
                                          <div class="hexagon">
                                              <div class="hex-mid hexagon-success">
                                                  <i class="mdi mdi-laptop-chromebook"></i>
                                              </div>
                                          </div>
                                          <div class="pl-4">
                                              <h4 class="font-weight-bold text-success mb-0"> 25 </h4>
                                              <h6 class="text-muted">Data Science Companies</h6>
                                          </div>
                                      </div>

                                      <div class="d-flex">
                                          <div class="hexagon">
                                              <div class="hex-mid hexagon-primary">
                                                  <i class="mdi mdi-timer-sand"></i>
                                              </div>
                                          </div>
                                          <div class="pl-4">
                                              <h4 class="font-weight-bold text-primary mb-0"> 12.45 </h4>
                                              <h6 class="text-muted mb-0">Average Package</h6>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <footer class="footer">
                      <div class="d-sm-flex justify-content-center justify-content-sm-between">
                          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href=# target="_blank">Piyush Katoch</a>. All rights reserved.</span>
                      </div>
                  </footer>
                  
              </div>
             
          </div>
           
      </div>
    

    <script src="{ % static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{ % static 'vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
    <script src="{ % static 'vendors/chart.js/Chart.min.js' %}""></script>
    <script src="{ % static 'vendors/flot/jquery.flot.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.stack.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{ % static 'js/off-canvas.js' %}"></script>
    <script src="{ % static 'js/hoverable-collapse.js' %}"></script>
    <script src="{ % static 'js/misc.js' %}"></script>
    <script src="{ % static 'js/settings.js' %}"></script>
    <script src="{ % static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{ % static 'js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>
{% endblock content %}