{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Untangle</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/css-stars.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>
    <div class="wrapper">
      <div class="container-scroller">
          <!-- partial:partials/_sidebar.html -->
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
              <ul class="nav">
                  <li class="nav-item nav-profile border-bottom">
                      <a href="#" class="nav-link flex-column">

                          <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                              <span class="font-weight-semibold mb-1 mt-2 text-center"><h3>{{ user.username }}</h3></span>
                              <span class="text-secondary icon-sm text-center">{{user.specialization}}</span>
                          </div>
                      </a>
                  </li>
                  <li class="nav-item pt-3">
                      <a class="nav-link d-block" href="{% url 'CSCL-home' %}">
                          <img class="sidebar-brand-logo" src="{% static 'images/logo.png' %}" alt="" />
                      </a>
                  </li>
                  <li class="pt-2 pb-1">
                      <span class="nav-item-head">Menu</span>

                      <!--Search Box
                <form class="d-flex align-items-center" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control border-0" placeholder="Search" />
                    </div>
                </form>
                -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"href="{% url 'CSCL-home' %}">
                          <i class="mdi mdi-compass-outline menu-icon"></i>
                          <span class="menu-title">  Dashboard
                            </span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}">
                          <i class="mdi mdi-compass-outline menu-icon"></i>
                          <span class="menu-title">Profile</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'CSCL-suggestions' %}">
                          <i class="mdi mdi-compass-outline menu-icon"></i>
                          <span class="menu-title">Suggestions</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'CSCL-forum' %}">
                        <i class="mdi mdi-compass-outline menu-icon"></i>
                        <span class="menu-title">Discussion Forum</span>
                    </a>
                </li>
              </ul>
          </nav>



          <!-- partial -->
          <div class="container-fluid page-body-wrapper">
              <!-- partial:partials/_settings-panel.html -->
              <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
              <div id="theme-settings" class="settings-panel">
                  <i class="settings-close mdi mdi-close"></i>
                  <p class="settings-heading">SIDEBAR SKINS</p>
                  <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                      <div class="img-ss rounded-circle bg-light border mr-3"></div>Default
                  </div>
                  <div class="sidebar-bg-options" id="sidebar-dark-theme">
                      <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                  </div>
                  <p class="settings-heading mt-2">HEADER SKINS</p>
                  <div class="color-tiles mx-0 px-4">
                      <div class="tiles default primary"></div>
                      <div class="tiles success"></div>
                      <div class="tiles warning"></div>
                      <div class="tiles danger"></div>
                      <div class="tiles info"></div>
                      <div class="tiles dark"></div>
                      <div class="tiles light"></div>
                  </div>
              </div>
              <!-- partial -->


              <!-- partial:partials/_navbar.html -->
              <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                  <div class="navbar-menu-wrapper d-flex align-items-stretch">
                      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                          <span class="mdi mdi-chevron-double-left"></span>
                      </button>
                      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
                      </div>
                        <div class="navbar-nav">
                            <div class="nav-item">
                            <a class="nav-link"href="{% url 'CSCL-home' %}">Home
                            </a>
                            </div>
                            <div class="nav-item">
                            <a class="nav-link" href="{% url 'CSCL-about' %}">About
                            </a>
                            </div>
                            <div class="nav-item" style ="margin-left: 23cm;">
                                <a class="nav-link"href="{% url 'logout' %}">Logout
                                </a>
                            </div>
                        </div>
                     
                      
              </nav>
              
              
              <main role="main" class="container">
                <br>
                <br>
                <br>
                <br>
                
                <div class="row">
                  <div class="col-md-12">
                    {% if messages %} {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                    </div>
                    {% endfor %} {% endif %} {% block content %}{% endblock %}
                  </div>
                </div>
              </main>
            </div>


              <!-- partial
              <div class="main-panel">
                  <div class="content-wrapper pb-0">
                      <div class="page-header flex-wrap">
                          <div class="header-left">
                              <button class="btn btn-primary mb-2 mb-md-0 mr-2"> Generate pdf </button>
                          </div>
                          <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
                              <div class="d-flex align-items-center">
                                  <a href="#">
                                      <p class="m-0 pr-3">Dashboard</p>
                                  </a>
                              </div>
                          </div>
                      </div>


                      <div class="row">
                          <div class="col-xl-4 grid-margin">
                              <div class="card stretch-card mb-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black"> Course Suggestions </h4>
                                      </div>
                                      <h3 class="text-success font-weight-bold">+30</h3>
                                  </div>
                              </div>
                              <div class="card stretch-card mb-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black">Articles Suggestions</h4>
                                      </div>
                                      <h3 class="text-success font-weight-bold">+40</h3>
                                  </div>
                              </div>
                              <div class="card mt-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black">Books Suggestions </h4>
                                      </div>
                                      <h3 class="text-danger font-weight-bold">+20</h3>
                                  </div>
                              </div>
                              <div class="card mt-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black">Teacher Notes </h4>
                                      </div>
                                      <h3 class="text-danger font-weight-bold">+20</h3>
                                  </div>
                              </div>
                          </div>

                          <div class="col-xl-8 stretch-card grid-margin">
                              <div class="card">
                                  <div class="card-body pb-0">
                                      <h4 class="card-title mb-0">Seniors Contact</h4>
                                  </div>
                                  <div class="card-body p-0">
                                      <div class="table-responsive">
                                          <table class="table custom-table text-dark">
                                              <thead>
                                                  <tr>
                                                      <th>Name</th>
                                                      <th>Courses</th>
                                                      <th>Project</th>
                                                      <th>Collab Request</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face2.jpg' %} " class="mr-2" alt="image" /> Shubhankar Dhruv
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">4</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                                  <option value="4">Course-4</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">2</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Project-1</option>
                                                                  <option value="2">Project-2</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>XXXXXX</td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face3.jpg' %}" class="mr-2" alt="image" /> Ranuq Suri
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">3</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">1</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Project-1</option>
                                                              </select>
                                                          </div>a
                                                      </td>
                                                      <td>XXXXXXX</td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face4.jpg' %}" class="mr-2" alt="image" /> Shreya Singi
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">5</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                                  <option value="2">Course-4</option>
                                                                  <option value="3">Course-5</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>XXXXXXX</td>
                                                      <td>XXXXXXX</td>
                                                  </tr>
                                                  <tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face2.jpg' %} " class="mr-2" alt="image" /> Shubhankar Dhruv
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">4</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                                  <option value="4">Course-4</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>XXXXXX</td>
                                                      <td>XXXXXX</td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face3.jpg' %}" class="mr-2" alt="image" /> Ranuq Suri
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">3</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>XXXXXX</td>
                                                      <td>XXXXXXX</td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <img src="{% static 'images/faces/face4.jpg' %}" class="mr-2" alt="image" /> Shreya Singi
                                                      </td>
                                                      <td>
                                                          <div class="d-flex">
                                                              <span class="pr-2 d-flex align-items-center">5</span>
                                                              <select id="star-1" name="rating" autocomplete="off">
                                                                  <option value="1">Course-1</option>
                                                                  <option value="2">Course-2</option>
                                                                  <option value="3">Course-3</option>
                                                                  <option value="2">Course-4</option>
                                                                  <option value="3">Course-5</option>
                                                              </select>
                                                          </div>
                                                      </td>
                                                      <td>XXXXXXX</td>
                                                      <td>XXXXXXX</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                      <a class="text-black font-13 d-block pt-2 pb-2 pb-lg-0 font-weight-bold pl-4" href="#">Show more</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                    first row starts here 


                      <div class="row">
                          <div class="col-xl-12 stretch-card grid-margin">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="d-flex justify-content-between flex-wrap">
                                          <div>
                                              <div class="card-title mb-0">Study Modes Analysis</div>
                                          </div>
                                          <div>
                                              <div class="d-flex flex-wrap pt-2 justify-content-between sales-header-right">
                                                  <div class="d-flex mr-5">
                                                      <button type="button" class="btn btn-social-icon btn-outline-sales">
                                                          <i class="mdi mdi-inbox-arrow-down"></i>
                                                      </button>
                                                      <div class="pl-2">
                                                          <h4 class="mb-0 font-weight-semibold head-count"> 4 </h4>
                                                          <span class="font-10 font-weight-semibold text-muted">Total Modes</span>
                                                      </div>
                                                  </div>
                                                  <div class="d-flex mr-3 mt-2 mt-sm-0">
                                                      <button type="button" class="btn btn-social-icon btn-outline-sales profit">
                                                          <i class="mdi mdi-cash text-info"></i>
                                                      </button>
                                                      <div class="pl-2">
                                                          <h4 class="mb-0 font-weight-semibold head-count"> Online </h4>
                                                          <span class="font-10 font-weight-semibold text-muted">Best Mode</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="d-flex justify-content-between flex-wrap">
                                          <img src="{% static 'images/graph.jpeg' %} " />
                                      </div>
                                      
                    <div class="flot-chart-wrapper">
                        <div id="flotChart" class="flot-chart">
                            <canvas class="flot-base"></canvas>
                        </div>
                    </div>
                   
                                  </div>
                              </div>
                          </div>
                      </div>
                      
        <div class="row">
          <div class="col-sm-6 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-title"> Study Buddy Network
                  </div>
                <div class="line-chart-wrapper">
                  <canvas id="linechart" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col-sm-6 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="card-title">Friend Circle </small>
                  </div>
                <div class="bar-chart-wrapper">
                  <canvas id="barchart" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
             
    <div class="row">
        <div class="col-sm-12 stretch-card grid-margin">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title">Graph-1</div>
                                <div class="d-flex flex-wrap">
                                    <div class="doughnut-wrapper w-50">
                                        <canvas id="doughnutChart1" width="100" height="100"></canvas>
                                    </div>
                                    <div id="doughnut-chart-legend" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title">Graph-2</div>
                                <div class="d-flex flex-wrap">
                                    <div class="doughnut-wrapper w-50">
                                        <canvas id="doughnutChart2" width="100" height="100"></canvas>
                                    </div>
                                    <div id="doughnut-chart-legend2" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title">Graph-3</div>
                                <div class="d-flex flex-wrap">
                                    <div class="doughnut-wrapper w-50">
                                        <canvas id="doughnutChart3" width="100" height="100"></canvas>
                                    </div>
                                    <div id="doughnut-chart-legend3" class="pl-lg-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
                      <div class="row">
                          <div class="col-sm-6 col-xl-6 stretch-card grid-margin">
                              <div class="card">
                                  <div class="card-body">

                                      <div class="d-flex border-bottom mb-4 pb-2">
                                          <div class="hexagon">
                                              <div class="hex-mid hexagon-danger">
                                                  <i class="mdi mdi-account-outline"></i>
                                              </div>
                                          </div>
                                          <div class="pl-4">
                                              <h4 class="font-weight-bold text-danger mb-0">40</h4>
                                              <h6 class="text-muted">Data Science Students</h6>
                                          </div>
                                      </div>
                                      <div class="d-flex border-bottom mb-4 pb-2">
                                          <div class="hexagon">
                                              <div class="hex-mid hexagon-success">
                                                  <i class="mdi mdi-laptop-chromebook"></i>
                                              </div>
                                          </div>
                                          <div class="pl-4">
                                              <h4 class="font-weight-bold text-success mb-0"> 25 </h4>
                                              <h6 class="text-muted">Data Science Companies</h6>
                                          </div>
                                      </div>

                                      <div class="d-flex">
                                          <div class="hexagon">
                                              <div class="hex-mid hexagon-primary">
                                                  <i class="mdi mdi-timer-sand"></i>
                                              </div>
                                          </div>
                                          <div class="pl-4">
                                              <h4 class="font-weight-bold text-primary mb-0"> 12.45 </h4>
                                              <h6 class="text-muted mb-0">Average Package</h6>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <footer class="footer">
                      <div class="d-sm-flex justify-content-center justify-content-sm-between">
                          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href=# target="_blank">Piyush Katoch</a>. All rights reserved.</span>
                      </div>
                  </footer>
                   partial 
              </div>
               main-panel ends 
          </div>
           page-body-wrapper ends 
      </div>
    container-scroller
    plugins:js
 -->
    <script src="{ % static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{ % static 'vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
    <script src="{ % static 'vendors/chart.js/Chart.min.js' %}""></script>
    <script src="{ % static 'vendors/flot/jquery.flot.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.stack.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{ % static 'js/off-canvas.js' %}"></script>
    <script src="{ % static 'js/hoverable-collapse.js' %}"></script>
    <script src="{ % static 'js/misc.js' %}"></script>
    <script src="{ % static 'js/settings.js' %}"></script>
    <script src="{ % static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{ % static 'js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>