
.body_sp {
    margin: 0;
    padding: 0;
}
.loader-frame {
    width: 70px;
    height: 70px;
    position: relative;
    margin: auto;
}

.logo {
    width:100%;
    height:220px;
    background : white;
    margin: 150px auto 75px auto;
    font-size: 50px;
    text-align: center;
}

.loader1, .loader2 {
    position:absolute;
    border : 5px solid transparent;
    border-radius: 50%;
}

.loader1 {
    width: 50px;
    height: 50px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: clockwisespin 2s linear 10;
}

.loader2 {
    width: 40px;
    height: 40px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    top:5px;left:5px;
    animation: anticlockwisespin 2s linear 10;
}

@keyframes clockwisespin {
    from {
        transform: rotate(0deg);
    } 

    to {
        transform: rotate(360deg);
    }
}

@keyframes anticlockwisespin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes fadeout {
    from {
    opacity:1;
    }
    to {
    opacity:0;
    }
}
