{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid" style="margin-left:105px;">
  <div class="row">
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:29rem">
        <img class="card-img-top" src="{% static 'report_cap/1.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Categories that top the chart<br>
          <a href="{% static 'report_cap/BIRT/youtube1.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:29rem">
        <img class="card-img-top" src="{% static 'report_cap/2.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          What's trending now<br>
          <a href="{% static 'report_cap/BIRT/youtube-2.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:29rem">
        <img class="card-img-top" src="{% static 'report_cap/3.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Viral videos<br>
          <a href="{% static 'report_cap/BIRT/youtube3.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:18rem">
        <img class="card-img-top" src="{% static 'report_cap/13.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          USA - Category wise Like/Dislike Analysis <br>
          <a href="{% static 'report_cap/powerBI/13.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:18rem">
        <img class="card-img-top" src="{% static 'report_cap/14.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          USA - Trending Rank#1 Analysis<br>
          <a href="{% static 'report_cap/powerBI/14.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:18rem">
        <img class="card-img-top" src="{% static 'report_cap/15.PNG' %}" alt="Card image cap" />
        <div class="card-body">
         USA - Trending Period Analysis<br>
          <a href="{% static 'report_cap/powerBI/15.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:17rem">
        <img class="card-img-top" src="{% static 'report_cap/4.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Likes vs. Views<br>
          <a href="{% static 'report_cap/powerBI/4.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:17rem">
        <img class="card-img-top" src="{% static 'report_cap/5.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          <a href="{% static 'report_cap/powerBI/5.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:17rem">
        <img class="card-img-top" src="{% static 'report_cap/6.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          The chord chart<br>
          <a href="{% static 'report_cap/powerBI/6.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:18rem">
        <img class="card-img-top" src="{% static 'report_cap/7.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Great Britain-views and likes by category id<br>
          <a href="{% static 'report_cap/powerBI/7.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:18rem">
        <img class="card-img-top" src="{% static 'report_cap/8.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          The Sankey chart<br>
          <a href="{% static 'report_cap/powerBI/8.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height:18rem">
        <img class="card-img-top" src="{% static 'report_cap/9.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Likes vs. Dislikes great Britain<br>
          <a href="{% static 'report_cap/powerBI/9.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height: 17rem">
        <img class="card-img-top" src="{% static 'report_cap/10.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Trending Rank vs. Views GB<br>
          <a href="{% static 'report_cap/powerBI/10.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height: 17rem">
        <img class="card-img-top" src="{% static 'report_cap/11.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Likes and the Cateogy-Id GB<br>
          <a href="{% static 'report_cap/powerBI/11.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card rep" style="width: 18rem;height: 17rem">
        <img class="card-img-top" src="{% static 'report_cap/12.PNG' %}" alt="Card image cap" />
        <div class="card-body">
          Trending Rank vs. Likes<br>
          <a href="{% static 'report_cap/powerBI/12.pdf' %}" target="_blank" class="btn btn-primary stretched-link"
            >Open pdf</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
