{% extends "base.html" %} {% load static %} {% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Untangle</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jquery-bar-rating/css-stars.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>  
<div class="row">
     <div class="col-xl-9 grid-margin">
             <div class="card stretch-card mb-3">
                  <div class="card-body d-flex flex-wrap justify-content-between">
                        <div>
                                          <h4 class="font-weight-semibold mb-1 text-black"> Course Suggestions </h4>
                                      </div>
                                      <h3 class="text-success font-weight-bold">+3</h3>
                                      <div class="table-responsive">
                                        <table class="table custom-table text-dark">
                                            <thead>
                                                <tr>
                                                    <th>Course Name</th>
                                                    <th>Website</th>
                                                    <th>Recommended by</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>A-Z Machine Learning</td>
                                                    <td>Udemy</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>Artifical Neural Network</td>
                                                    <td>Coursera</td>
                                                    <td>24</td>
                                                </tr><tr>
                                                    <td>IBM Data Science</td>
                                                    <td>Coursera</td>
                                                    <td>18</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                  </div>
                              </div>
                              <div class="card stretch-card mb-3">
                                  <div class="card-body d-flex flex-wrap justify-content-between">
                                      <div>
                                          <h4 class="font-weight-semibold mb-1 text-black">Articles Suggestions</h4>
                                      </div>
                                      <h3 class="text-success font-weight-bold">+4</h3>
                                      <div class="table-responsive">
                                        <table class="table custom-table text-dark">
                                            <thead>
                                                <tr>
                                                    <th>Article Name</th>
                                                    <th>Website</th>
                                                    <th>Recommended by</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Aricle-1</td>
                                                    <td>Google</td>
                                                    <td>4</td>
                                                </tr>
                                                <tr>
                                                    <td>Aricle-2</td>
                                                    <td>Google</td>
                                                    <td>3</td>
                                                </tr><tr>
                                                    <td>Aricle-3</td>
                                                    <td>Google</td>
                                                    <td>2</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                  <footer class="footer">
                      <div class="d-sm-flex justify-content-center justify-content-sm-between">
                          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href=# target="_blank">Piyush Katoch</a>. All rights reserved.</span>
                      </div>
                  </footer> 
                </div>
            </div>
        </div>
    
    <script src="{ % static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{ % static 'vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
    <script src="{ % static 'vendors/chart.js/Chart.min.js' %}""></script>
    <script src="{ % static 'vendors/flot/jquery.flot.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{ % static 'vendors/flot/jquery.flot.stack.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{ % static 'js/off-canvas.js' %}"></script>
    <script src="{ % static 'js/hoverable-collapse.js' %}"></script>
    <script src="{ % static 'js/misc.js' %}"></script>
    <script src="{ % static 'js/settings.js' %}"></script>
    <script src="{ % static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{ % static 'js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>
{% endblock content %}
